* {box-sizing: border-box}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    font-family: serif, Courier, monospace;
    margin: 3rem auto;
    font: var(--sans);
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: var(--c3);
    color: var(--c4);
}

#main-form,
.goods-input {
  outline-color: #fe9900;
}

#main-form {
  padding: .75rem 0 .75rem 3rem;
  border-radius: 4px;
}

.logo {
  transform: scale(1);
  border-radius: 100%;
  width: auto;
  height: 3.5rem;
  cursor: pointer;
  border-radius: 100px;
  z-index: 1;
  position: relative;
  transition: .25s;
}

#site-title {
  text-transform: uppercase;
  color: #2b2b2b;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  text-decoration-color: #fff3e6;
}

#site-title-mobile {
  display: none;
}

.logo:active {
  transform: scale(.95);
  transition: .1s;
}

nav {
  padding: 0 0 3rem 0;
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
}

.white-button {
  border-radius: .375rem;
  background-color: white;
  border: 2px solid #2b2b2b;
  color: #2b2b2b;
}

span.counter {
  border: 2px solid #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 0 4px;
  margin: 5px;
  font-weight: 700;
  font-size: 12px;
}

#clear-items-form {
  display: inline-block;
  right: 0;
  position: absolute;
  padding: 0;
  border-radius: 4px;
}

#clear-items-form button {
  color: #2b2b2b;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 8px 2px 8px;
}

.white-button:hover {
  background-color: #2b2b2b;
  color: white;
}

.primary-button:hover {
  color: white;
}

.primary-button:active {
  background-color: #ef9e00;
}

.nav-items-right ol {
  display: flex;
}

.nav-items-right {
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.nav-item {
  width: 1.5rem;
  cursor: pointer;
  border-radius: 100%;
  z-index: 1;
  position: relative;
  border-radius: 0;
}

footer {
  background-color: #2b2b2b;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.example-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  background: #ffffff;
  border: solid 2px #000000;

}

.example-dropdown {
  position: relative;
}

.primary-button {
  background-color: #fea800;
  margin: 0;
  color: white;
}

button#logged-in-indicator,
button#group-indicator {
  background-color: #f6f6f6;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 100px;
  padding: 5px 10px;
  color: #2b2b2b;
}

#logged-in-indicator svg,
#group-indicator svg
 {
  height: 20px;
}


summary h2 {
  font-size: 17px;
  font-weight: 500;
  display: inline;
  margin-left: 5px;
}

summary {
  display: list-item;
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
}

summary::marker {
  position: absolute;
  right: -.5em;
  margin-right: 10px;
}

#logged-in-indicator a,
#group-indicator a {
  text-decoration: none;
}

#logged-in-indicator li,
#group-indicator li,
#long-menu li {
  border-radius: 10px;
}

#long-menu ul {
  padding: 8px;
}

#logout-button,
#login-button {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #2b2b2b;
}

.example-dropdown > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  background: #ffffff;
  border: solid 2px #000000;
}

main {
  display: block;
  margin: 0 10%;
}

.main-title {
  color: #2b2b2b;
}

.example-dropdown:focus-within > ul {
  display: flex;
}

.example-menu a {
  display: inline-block;
  padding: 0.5rem;
}

.example-dropdown > a {
  display: inline-block;
  padding: 1rem;
  color: #000000;
}

.example-dropdown > a::after {
  content: " \2193"
}

.dropdown-icon {
  max-width: 1rem;
  border-radius: 0;
  opacity: .8;
  color: #2b2b2b;
}

img, iframe {border: none; max-width: 100%}

a { text-decoration:none }

a:hover { text-decoration: underline}

pre,code,input,select,textarea,button,img {border-radius: var(--rc)}

input, select, textarea {font-size: 1em; color:var(--c4); background: #f6f6f6; border: 0; padding: 0.6em}

@media only screen and (max-width: 600px) {

  .logo {
    height: 2rem;
  }

  #site-title {
    display: none;
  }

  button#logged-in-indicator,
  button#group-indicator { 
    font-size: 12px;
  }

  nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

  body {
    margin: 15px auto;
  }

  .goods-input {
    padding: 0.6rem 30px 0.6rem 3rem;
  }

  #site-title-mobile {
    display: block;
    text-align: left;
    color: #2b2b2b;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-top: 0;
  }

  nav {
    padding: 0 15px;
  }

  .nav-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}