/* Basic.css  */

* {box-sizing: border-box}

:root{
/* --sans: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif; */
--mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, 'Courier New', monospace;
--c1:#0074d9;
--c2:#eee;
--c3:#fff;
--c4:#000;
--c5:#fff;
--m1: 8px;
--rc: 8px;
}

/* @media (prefers-color-scheme: dark) {
	:root {
    --c2:#333;
    --c3:#1e1f20;
    --c4:#fff;
	}
} */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

/* General settings */

body {
    font-family: serif, Courier, monospace;
    margin: 3rem auto;
    font: var(--sans);
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: var(--c3);
    color: var(--c4);
}

#main-form,
.goods-input {
  outline-color: #fe9900;
}

#main-form {
  padding: .75rem 0 .75rem 3rem;
}

.logo {
  transform: scale(1);
  border-radius: 100%;
  width: auto;
  height: 3.5rem;
  cursor: pointer;
  border-radius: 100px;
  z-index: 1;
  position: relative;
  transition: .25s;
  border: 3px solid #2b2b2b;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 2px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}

#site-title {
  text-transform: uppercase;
  color: #2b2b2b;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  text-decoration-color: #ffa800;
}

.logo:active {
  transform: scale(.95);
  transition: .1s;
}

nav {
  padding: 0 0 3rem 0;
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
}

.white-button {
  border-radius: .375rem;
  background-color: white;
  border: 2px solid #2b2b2b;
  color: #2b2b2b;
}

.white-button:hover {
  background-color: #2b2b2b;
  color: white;
}

.primary-button:hover {
  color: white;
}

.primary-button:active {
  background-color: #ef9e00;
}

.nav-items-right ol {
  display: flex;
}

.nav-items-right {
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.nav-item {
  width: 1.5rem;
  cursor: pointer;
  border-radius: 100%;
  z-index: 1;
  position: relative;
  border-radius: 0;
}

footer {
  background-color: #2b2b2b;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.example-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  background: #ffffff;
  border: solid 2px #000000;

}

.example-dropdown {
  position: relative;
}

.primary-button {
  background-color: #fea800;
  margin: 0;
  color: white;
}

button#logged-in-indicator {
  background-color: #f6f6f6;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 100px;
  padding: 5px 10px;
  color: #2b2b2b;
}

summary h2 {
  font-size: 17px;
  font-weight: 500;
  display: inline;
  margin-left: 5px;
}

summary {
  display: list-item;
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
}

summary::marker {
  position: absolute;
  right: -.5em;
  margin-right: 10px;
}

#logged-in-indicator a {
  text-decoration: none;
}

#logged-in-indicator li {
  border-radius: 10px;
}

#logout-button,
#login-button {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #2b2b2b;
}

.example-dropdown > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  background: #ffffff;
  border: solid 2px #000000;
}

.example-dropdown:focus-within > ul {
  display: flex;
}

.example-menu a {
  display: inline-block;
  padding: 0.5rem;
}

.example-dropdown > a {
  display: inline-block;
  padding: 1rem;
  color: #000000;
}

.example-dropdown > a::after {
  content: " \2193"
}

.dropdown-icon {
  max-width: 1rem;
  border-radius: 0;
  opacity: .8;
  color: #2b2b2b;
}

img, iframe {border: none; max-width: 100%}

a { text-decoration:none }

a:hover { text-decoration: underline}

pre {font: 1em/1.6 var(--mono); background: var(--c2); padding: 1em; overflow: auto}

code {font: 1em/1.6 var(--mono);}

blockquote {border-left: 5px solid var(--c2); padding: 1em 1.5em; margin: 0}

hr {border:0; border-bottom: 1px solid var(--c4)}

 /* Headlines */

h1,h2,h3,h4,h5,h6 {margin: 0.6em 0; font-weight: normal}

h1 {font-size: 2.625em; line-height: 1.2}

h2 {font-size: 1.625em; line-height: 1.2}

h3 {font-size: 1.3125em; line-height: 1.24}

h4 {font-size: 1.1875em; line-height: 1.23}

h5,h6 {font-size: 1em; font-weight:bold}

/* Table */

table {border-collapse: collapse; border-spacing: 0; margin:1em 0}

th, td {text-align: left; vertical-align: top; border: 1px solid; padding: 0.4em}

thead,tfoot {background: var(--c2)}

/* Rounded Corners*/

pre,code,input,select,textarea,button,img {border-radius: var(--rc)}


/* Forms */

input, select, textarea {font-size: 1em; color:var(--c4); background: #f6f6f6; border: 0; padding: 0.6em}

button, input[type=submit], input[type=reset], input[type="button"] { -webkit-appearance: none; font-size: 1em; display: inline-block; color: var(--c5); background: var(--c1);  border: 0; margin: 4px;  padding: 0.6em; cursor: pointer; text-align: center}

/* button:hover, button:focus, input:hover, textarea:hover, select:hover {opacity: 0.8} */

/* Infinite Grid */

section {display: flex; flex-flow: row wrap}

[style*="--c:"], section>section, aside, article {flex:var(--c,1); margin:var(--m1)}

/* Cards */

article {background: var(--c2); border-radius: var(--rc); padding: 1em; box-shadow: 0px 1px 0px rgba(0,0,0,0.3)}

[style*="--c:"]:first-child, section>section:first-child, article:first-child {margin-left:0}
[style*="--c:"]:last-child, section>section:last-child, article:last-child {margin-right:0}


@media only screen and (max-width: 600px) {
  /* nav #site-title {
    display: none;
    visibility: hidden;
  } */

  body {
    margin: 15px auto;
  }

  .goods-input {
    padding: 0.6rem 85px 0.6rem 3rem;
  }

  nav {
    padding: 0 15px;
  }

  .nav-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}