main {
  display: block;
  margin: 0 30%;
}

main form {
  background-color: #f6f6f6;
  border-radius: 10px;
}

.save-button {
  right: 0;
  visibility: hidden;
}

.update-button {
  position: absolute; 
  left: -9999px; 
  width: 1px; 
  height: 1px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.item-form {
  display: flex;
}

.item-form:hover .white-button,
.item-form:focus .white-button {
  opacity: 1;
  transition: .25s;
}

.goods-input:focus + .name-label,
.goods-input:focus + .name-label + .white-button
 {
  opacity: 1;
  transition: .25s;
}

.item-form:hover .name-label,
.item-form:focus .name-label {
  opacity: 1;
  transition: .25s;
}

.item-form .white-button {
  background-color: white;
  opacity: 1;
  transition: .5s;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 50%;  
  transform: translate(-10%, -50%);
  margin: 0;
  padding-right: .5rem;
  padding: 5px 10px;
  font-size: 14px;
  color: #2b2b2b;
  font-weight: 500;
  border: 2px solid white;
}

.item-form .white-button:hover {
  background-color: #2b2b2b;
  color: white;
}

.item-form .name-label {
  background-color: #2b2b2b;
  color: white;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 50%;  
  transform: translate(-225%, -50%);
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 0;
  font-size: 13px;
  opacity: 1;
  transition: .5s;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.item-form {
  margin: .5rem 0;
  position: relative;
}

.form-control {
  position: absolute;
  top: 50%;  
  left: 0;
  transform: translate(-50%, -50%);
  padding-left: 3rem;
}

.goods-input {
  background-color: #f6f6f6;
  width: 100%;
  padding: 0.6rem 100px 0.6rem 3rem;
  border-radius: 0;
  border-radius: 4px;
}

.goods-input:focus,
main form input:focus
 {
  background-color: #fe99001f;
}

#site-title {
  visibility: visible;
}

textarea {
  width: 100%;
  resize: none;
  padding-right: 100px;
}

.empty-list {
  border-radius: 4px;
  background-color: #fe99001f;
}

.incomplete-goods,
.completed-goods {
  min-height: 100px;
  margin-bottom: 2rem;
}

.plus-sign {
  left: 0;
  top: 50%;  
  transform: translate(-10%, -50%);
  height: 20px;
  position: relative;
  padding: 2rem;
}

#site-title {
  text-transform: uppercase;
  color: #2b2b2b;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 8px;
  text-decoration-color: #ffa800;
}

input, select, textarea {
  padding: 0.35rem;
}

/* Basic styling */

[type=checkbox] {
  width: 0.5rem;
  height: 0.5rem;
  color: #ffa800;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #fff;
  transition: background .3s;
  cursor: pointer;
  border: 2px solid #2b2b2c;
  padding: 7px;
}


/* Pseudo element for check styling */

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #9ca3b0;
}


/* Checked */

[type=checkbox]:checked {
  background-color: currentcolor;
}


/* Disabled */

[type=checkbox]:disabled {
  background-color: #CCD3D8;
  opacity: 0.84;
  cursor: not-allowed;
}


/* IE */

[type=checkbox]::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


@media only screen and (max-width: 600px) {

  main {
    margin: 0 15px;
  }

  .logo {
    height: 3.5rem;
  }

  #main-form {
    padding: 10px 15px;
  }
}

