main form {
  background-color: #f6f6f6;
  border-radius: 10px;
}

.save-button {
  right: 0;
  visibility: hidden;
}

.update-button {
  position: absolute; 
  left: -9999px; 
  width: 1px; 
  height: 1px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.item-form {
  display: flex;
}

.item-form:hover .white-button,
.item-form:focus .white-button {
  opacity: 1;
  transition: .25s;
}

.goods-input:focus + .name-label,
.goods-input:focus + .name-label + .white-button
 {
  opacity: 1;
  transition: .25s;
}

.item-form:hover .name-label,
.item-form:focus .name-label {
  opacity: 1;
  transition: .25s;
}

.item-form .white-button {
  background-color: white;
  opacity: 1;
  transition: .5s;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 50%;  
  transform: translate(-10%, -50%);
  margin: 0;
  padding-right: .5rem;
  padding: 5px 10px;
  font-size: 14px;
  color: #2b2b2b;
  font-weight: 500;
  border: 2px solid white;
}

.item-form .white-button:hover {
  background-color: #2b2b2b;
  color: white;
}

.item-form .name-label {
  background-color: #2b2b2b;
  color: white;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 50%;  
  transform: translate(-225%, -50%);
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 0;
  font-size: 13px;
  opacity: 1;
  transition: .5s;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.item-form {
  margin: .5rem 0;
  position: relative;
}

.form-control {
  position: absolute;
  top: 50%;  
  left: 0;
  transform: translate(-50%, -50%);
  padding-left: 3rem;
}

.goods-input {
  background-color: #f6f6f6;
  width: 100%;
  padding: 0.6rem 30px 0.6rem 3rem;
  border-radius: 0;
  border-radius: 4px;
}

.goods-input:focus,
main form input:focus
 {
  background-color: #fff2de;
}

#site-title {
  visibility: visible;
}

textarea {
  width: 100%;
  resize: none;
  padding-right: 100px;
}

.empty-list {
  border-radius: 4px;
  background-color: #fe99001f;
  padding: 0.6rem 0 0.6rem 1rem;
}

.incomplete-goods,
.complete-goods {
  padding-bottom: 2rem;
}

.plus-sign {
  left: 0;
  top: 50%;  
  transform: translate(-10%, -50%);
  height: 20px;
  position: relative;
  padding: 2rem;
}

input, select, textarea {
  padding: 0.35rem;
}

#long-button {
  position: absolute;
  right: 0;
  border-radius: 4px;
  height: 100%;
  color: rgb(0 0 0 / 30%);
}

#long-button svg {
  font-size: 1.25rem;
}

#long-menu {
  border-radius: 20px;
  margin-top: 8px;
  min-width: 180px;
  color: rgb(55, 65, 81);
  box-shadow: rgb(255 255 255) 0px 0px 0px 0px, rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}


/* Basic styling */

[type=checkbox] {
  width: 0.5rem;
  height: 0.5rem;
  color: #ffa800;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #fff;
  transition: background .3s;
  cursor: pointer;
  border: 2px solid #2b2b2c;
  padding: 7px;
}

/* Pseudo element for check styling */

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #9ca3b0;
}


/* Checked */

[type=checkbox]:checked {
  background-color: currentcolor;
}

.empty-icon {
  display: inline;
  font-size: 19px;
  margin-bottom: 3px;
}


@media only screen and (max-width: 600px) {

  main {
    margin: 0;
  }

  [type=checkbox] {
    width: 0.75rem;
    height: 0.75rem;
    padding: 9px;
  }

  #main-form {
    padding: 5px 15px;
  }
}

